body{
    background-image: url("https://images.unsplash.com/photo-1528731708534-816fe59f90cb?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
}
game {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin:20px auto;
    width:80%;
    height: 80vh;
    
}

#message{
    font-weight: bold;
    font-size: 20px;;
}

.player-area {
    /*border: 1px solid red;*/
    margin: 10px;
    padding: 20px;
}

#center-area{
     margin:10px;
     padding:20px;
     border:1px solid black;
     flex: 2;
    text-align: center;
    position: relative;
}

#Stack-1, #Stack-2, #Stack-3, #Stack-4{
    border:1px solid red;
    margin:1em;

}

 /* Style for stacked cards */
 .stacked-card {
    /*position: absolute;*/
    border: 1px solid black;
    width: 100px;
    height: 150px;
    margin: 5px;
    display: inline-block;
    text-align: center;
    line-height: 80px;
    font-size: 20px;
    font-weight: bold;
    color:rgb(0, 1, 1)

}

#player1-deck,#player2-deck{
    margin-bottom: 1em;
}


#start-button {
    display: block;
    margin: auto;
    margin-top: 20px;
}

label {
    display: block;
    font-weight: bold;

}

.card {
    border: 1px solid black;
    width: 100px;
    height: 150px;
    margin: 5px;
    display: inline-block;
    text-align: center;
    line-height: 80px;
    font-size: 20px;
    font-weight: bold;
    color:aliceblue
}

#pile-one,#pile-two,#pile-three,#pile-four{
    display: inline-block;
    text-align: center;
    border:2px dotted black;
    width: 100px;
    height: 150px;
    margin:2px;
}

.blue{
    background-color:blue;

}

.green{
    background-color:green;
}

.red{
    background-color:red;
}

.orange{
    background-color:orange;
}